body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    border: 0px solid #ccc;
    outline: none;
    border-radius: 2px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

#gameList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#gameListoOF {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-item {
    margin-bottom: 10px;
}

.game-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
li {
    padding: 15px;
    background-color: #eee;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    width: 20%;
    margin-left: 20px;
}
